<div class="album py-5 bg-light">
    <div class="container">

        <%= link_to "Create new item", new_portifolio_path if logged_in?(:site_admin) %>

        <div class="row sortable">
            <%= render partial: 'portifolio_item', collection: @portifolio_items %>
        </div>
    </div>
</div>