<h1>About</h1>

<hr>
<div class="row">
    <div class="col-4">
        <%= image_tag "profile.jpeg", width: 250, alt: "Profile Image" %>
    </div>
    <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac elementum felis. 
        Suspendisse pretium, orci eu vulputate bibendum, sapien mi scelerisque mi, in pulvinar diam neque sit amet nibh. Maecenas in scelerisque lacus. Donec dignissim augue non iaculis elementum. 
        Mauris semper posuere dolor quis imperdiet. Suspendisse vel interdum felis. 
        Praesent volutpat hendrerit consequat. Praesent in urna nisi. Curabitur volutpat aliquam erat, id convallis leo placerat id. 
        Praesent viverra fermentum consequat.</p>
    <p>Duis viverra vehicula justo non viverra. Quisque semper elementum leo eget lobortis. Etiam in ipsum vel tellus tincidunt dapibus. 
        Praesent elit eros, ornare sollicitudin eros ac, euismod ultrices nisi. Pellentesque leo nulla, volutpat in fermentum eget, dapibus ut sem. 
        Phasellus accumsan justo quis dictum luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </p>
    </div>
</div>
