<h1>Contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>



<hr>

<div class="row">
    <div class="col-md-6">
        <h3>Office Address</h3>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2380.8720486540483!2d-6.2301457492985906!3d53.36344478103428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670f09f0282c4f%3A0xb3bce015dc16a39c!2sWest+Wood+Gym+Clontarf!5e0!3m2!1sen!2sie!4v1517828746746" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
